<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/png_IE6.js" type="text/javascript"></script>
<title>站长-右侧</title>
<link href="css/pay_right.css" rel="stylesheet" type="text/css" />
</head>

<body class="zz_right">
<div class="right_box">

<div class="right_tit">
<dl>
<dt></dt>
<dd>站长个人页面--支付结算</dd>
</dl>
</div>


<div class="pay_list">
<dl>
<dd class="dd01"><strong>结算日期</strong></dd>
<dd class="dd02"><strong>支付日期</strong></dd>
<dd class="dd01"><strong>广告金额</strong></dd>
<dd class="dd02"><strong>税</strong></dd>
<dd class="dd01"><strong>手续费</strong></dd>
<dd class="dd02"><strong>应付</strong></dd>
<dd class="dd01"><strong>实付比例</strong></dd>
<dd class="dd02"><strong>实付金额</strong></dd>
<dd class="dd01"><strong>备注</strong></dd>
<dd class="dd04"><strong>状态</strong></dd>


<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd04"></dd>




</dl>
</div>


</div>
</body>
</html>
<!--
EOT;
?>-->