<!--<?php
include_once PrintEot('header');
if(empty($action)){
print <<<EOT
-->
<form action="$admin_file" method="post" name="form">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="left" class="tittab">
                <strong>站长管理 &gt;&gt;  申请广告审核</strong>
            </td>
        </tr>
    </table>
    <table id="Table50" border="0" cellpadding="0" cellspacing="1" width="100%" align=center>
         <tr>
            <td colspan=2 height=30 class="zmenu"><b>数据分类：</b>
<!--
EOT;
 showPageLink("all", "1", "全部数据");
 showPageLink("status", "0", "等待审核");
 showPageLink("status", "1", "已审核");
 showPageLink("status", "2", "审核未通过");
print <<<EOT
-->
            </td></tr>
         <tr>
        <tr>
            <td align="right" valign="center">
                <table id="Table51" border="0" cellpadding="0" cellspacing="5" height="30">
                    <input id="Hidden1" name="allSelect" type="hidden" value="all" />
                    <tr>
                        <td align="middle" valign="center">
                            <a href="javascript:document.location.reload();">
<img align="absMiddle" border="0" height="15" src="$imgpath/admin/reserch.gif" style="text-decoration: underline" width="17" />
<span style="color: #547054"> 刷新</span></a>
<!--
EOT;
	if($canaudit==true){
		showButton(4,'审核','javascript:showAudit("'.$admin_file.'&action=audit&status=1'.$transtr.'&curpage='.$curpage.'");');
	}
	if($canadd==true){
		showButton(1,'新增',$admin_file.'&action=new'.$transtr);
	}
	if($candel==true){
		showButton(2,'删除','javascript:ConfirmDel("'.$admin_file.'&action=del'.$transtr.'&curpage='.$curpage.'","此操作不可恢复,确认删除吗？");');
	}
print <<<EOT
-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="2">
            </td>
        </tr>
    </table>
    <div class="tab">
        <table id="Table52" border="0" cellpadding="3" cellspacing="0" align=center>
            <tr>
                <td align="middle" class="title" height="20" valign="center"> 序号</td>
                <td align="middle" class="title" height="20" valign="center">
                    <input id="Checkbox1" name="as" onclick="allchecked()" type="checkbox" />全选
                </td>
                <td align="middle" class="title" height="20" valign="center">站长-站点</td>
                <td align="middle" class="title" height="20" valign="center">申请广告</td>        
                <td align="middle" class="title" height="20" valign="center">创建时间</td>
                <td align="middle" class="title" height="20" valign="center">状态</td>
                <td align="middle" class="title" height="20" valign="center">审批记录</td>
                <td align="middle" class="title" height="20" valign="center">编辑</td>
            </tr>
<!--
EOT;
$curidx = ($curpage-1)*$perpage;
$curpageidx = 0;
$showcount = count($db_affadvapplylist); 
foreach($db_affadvapplylist as $db_advapply ){
	$curidx = $curidx+1;
	$curpageidx = $curpageidx+1;
	$cdate = date('Y/m/d H:i:s',$db_advapply[create_time]);
	$applystatus = $cfg_userstatus[$db_advapply[status]];		
print <<<EOT
-->    
            <tr height="30" onclick="SwitchTd(this,'click',$curpageidx);" onmouseout="SwitchTd(this,'out',$curpageidx);" onmouseover="SwitchTd(this,'over',$curpageidx);" style="cursor: hand">
                <td align="middle" valign="center">$curidx</td>
                <td align="middle" class="hei" valign="center"><input id="ids" name="ids" type="checkbox" value="$db_advapply[id]" /></td>
                <td valign="middle" align="center">&nbsp;
                <a href='$basename?job=detail&action=affiliate&curid=$db_advapply[aff_id]$transtr&backurl=$backurl' class="noline">$db_advapply[aff_name]($db_advapply[aff_id])</a>-
                <a href="$basename?job=detail&action=affsite&curid=$db_advapply[site_id]$transtr&backurl=$backurl" class="noline">$db_advapply[site_name]($db_advapply[site_id])</a></td>
                <td valign="middle" align="center">&nbsp;<a href="$basename?job=detail&action=advertise&curid=$db_advapply[adv_id]$transtr&backurl=$backurl" class="NoLine">$db_advapply[adv_name]($db_advapply[adv_id])</td>
                <td valign="middle" align="center">&nbsp;$cdate</td>
                <td valign="middle" align="center">&nbsp;$applystatus</td>
                <td valign="middle" align="center">&nbsp;<a href="$basename?job=detail&action=advapply&curid=$db_advapply[id]$transtr&backurl=$backurl">[查看详情]</a></td>
                <td valign="middle" align="center">&nbsp;
<!--
EOT;
	showEditButton($db_advapply[id]);
print <<<EOT
-->
                </td>
            </tr>
<!--
EOT;
}print <<<EOT
--> 
        </table>
    </div>
    <table id="Table1" border="0" cellpadding="0" cellspacing="0" width="98%">
        <tr>
            <td>
                &nbsp;</td>
            <td align="right" height="35">
<!--
EOT;
	showPageBreakInfo($showcount);
print <<<EOT
--> 
             &nbsp;</td>
        </tr>
    </table>
    <input type="hidden" id="count" name="count" value="$showcount" />

</form>

<!--
EOT;
}else if($action=="new" || $action=="edit"){
print <<<EOT
--> 
<form action="$admin_file" method="post" name="form" action="return checkfrm();">
<input type="hidden" name="action" value="save"/>
<input type="hidden" name="curid" value="$curid"/>
<input type="hidden" name="status" value="$status"/>
<input type="hidden" name="curpage" value="$curpage"/>
<input type="hidden" name="searchtype" value="$searchtype"/>
<input type="hidden" name="searchkey" value="$searchkey"/>
<TABLE cellSpacing="0" cellPadding="0" width="100%" border=0 ID="Table22">
	<TBODY>
		<TR >
			<TD class="tittab" BACKGROUND="$imgpath/admin/menu_bg.gif"><strong><img src="$imgpath/admin/view.gif" width="15" height="13" align="absmiddle"> 新增/编辑　站长广告申请</strong></TD>
		</TR>
	</TBODY>
</TABLE>
<table cellspacing=0 cellpadding=0 width="100%" border=0 id="Table23">  
    <tbody>
      <tr>
        <td valign=top>
		<div class="addpro">
		<table cellspacing=0 cellpadding=4 width="100%" border=0 align=center id="Table24">
        <tbody>
                <tr>
					<td align=right>申请站长(<font color="red">*</font>)：</td>
					<td><input type="text" id="aff_name" name="aff_name" style="WIDTH: 261px" value="$db_advapply[aff_name]" class="text" />
					<a href="#" onclick="javascript:showAfflist()"><IMG style="CURSOR: hand" height="21" src="$imgpath/admin/image_fdj.gif" width="24" align="absMiddle" border="0"/>请选择站长</a>
					    <input type=hidden name="aff_id" id="aff_id" value="$db_advapply[aff_id]"/>
					</td>
				</tr>
				<tr>
					<td align=right>申请站点(<font color="red">*</font>)：</td>
					<td><div id="divSite"><select id="site_id" name="site_id" style="WIDTH: 261px"><option value=''>请选择...</option>$op_sitelist</select></div></td>
				</tr>				
				<tr>
					<td align=right>申请广告(<font color="red">*</font>)：</td>
					<td>
					<select ID="adv_id" name="adv_id" style="WIDTH: 261px" >
					$op_advlist
					</select></td>
				</tr>
				<tr>				
					<td align=right>描述：</td>
					<td><textarea name="memo" id="memo" style="WIDTH: 261px;height:60px" value="$db_advapply[memo]"></textarea></td>
				</tr>				
				<tr>
					<td align=right>&nbsp;</td>
					<td align="left" height="40px">
					<input type="submit" id="btnSubmit" value=" 确定 " class="text" NAME="btnSubmit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<input type="button" onclick="history.go(-1);" value=" 取消 " class="text" >
					</td>
				</tr>
         
    </tbody>
 </table>
 </div></TD>
  </TR>
 </TBODY>

 </TABLE>
 </form>

<script>
	function checkfrm(){
		if(isEmpty($('aff_id').value)){
			alert('请选择站长！');
			$('aff_name').focus();
			return false;
		}
		if(isEmpty($('site_id').value)){
			alert('站点不能为空');
			$('site_id').focus();
			return false;
		}
	}
</script>
<!--
EOT;
}?>-->