<!--<?php
include_once PrintEot('header');
if(empty($action)){
print <<<EOT
-->
<form action="$admin_file" method="get" name="form">
<input type="hidden" name="job" id="job" value="$job"/>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="left" class="tittab">
                <strong>站长管理 &gt;&gt; 黑名单管理</strong>
            </td>
        </tr>
    </table>
    <table id="Table50" border="0" cellpadding="0" cellspacing="1" width="98%" align=center>
        <tr>
            <td colspan=2 height=30 class="zmenu"><b>数据分类：</b>
<!--
EOT;
 showPageLink("all", "1", "全部数据");
 showPageLink("status", "0", "锁定");
 showPageLink("status", "1", "释放");
print <<<EOT
-->
            </td></tr>
         <tr>
            <td><b>快速查询：</b><select id="searchtype" name="searchtype">
<!--
EOT;
	if(empty($searchtype) || $searchtype=="user_name")  echo '<option value="user_name" selected>站长名称</option>';
    else echo '<option value="user_name">站长名称</option>';
	if(!empty($searchtype) && $searchtype=="lock_user")  echo '<option value="lock_user" selected>锁定人</option>	';
    else echo '<option value="lock_user">锁定人</option>	';
	if(!empty($searchtype) && $searchtype=="release_user")  echo '<option value="release_user" selected>释放人</option>';
    else echo '<option value="release_user">释放人</option>';    
print <<<EOT
-->
							</select>
							<input type="text" name="searchkey" class="text" value="$searchkey"/>
							<input type="submit" value="查询" class="text"/>
						</td>
            <td align="right" valign="center">
                <table id="Table51" border="0" cellpadding="0" cellspacing="5" height="30">
                    <input id="Hidden1" name="allSelect" type="hidden" value="all" />
                    <tr>
                        <td align="middle" valign="center">
                            <a href="javascript:document.location.reload();">
	<img align="absMiddle" border="0" height="15" src="$imgpath/admin/reserch.gif" style="text-decoration: underline" width="17" /><span style="color: #547054"> 刷新</span></a>
<!--
EOT;
	if($canaudit==true){
		showButton(4,'释放','javascript:showAudit("'.$admin_file.'&action=release'.$transtr.'&curpage='.$curpage.'");');
	}
	if($candel==true){
		showButton(2,'删除','javascript:ConfirmDel("'.$admin_file.'&action=del'.$transtr.'&curpage='.$curpage.'","此操作不可恢复,确认删除吗？");');
	}
print <<<EOT
-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="2">
            </td>
        </tr>
    </table>
    <div class="tab">
        <table id="Table52" border="0" cellpadding="3" cellspacing="0" align=center>
            <tr>
                <td align="middle" class="title" height="20" valign="center">序号</td>
                <td align="middle" class="title" height="20" valign="center">
                    <input id="Checkbox1" name="as" onclick="allchecked()" type="checkbox" />全选
                </td>
                <td align="middle" class="title" height="20" valign="center">登录名称</td>
                <td align="middle" class="title" height="20" valign="center">锁定信息</td>                          
                <td align="middle" class="title" height="20" valign="center">释放信息</td>
                <td align="middle" class="title" height="20" valign="center">状态</td>                                 
            </tr>
<!--
EOT;
$curidx = ($curpage-1)*$perpage;
$curpageidx = 0;
$showcount = count($db_affblacklist); 
foreach($db_affblacklist as $affblack ){
	$curidx = $curidx+1;
	$curpageidx = $curpageidx+1;
	$db_status = $cfg_blackstatus[$affblack[status]];
	$ldate = date('Y/m/d H:i:s',$affblack[lock_time]);
	$rdate = "";
	($affblack[release_time]>0) && $rdate = date('Y/m/d H:i:s',$affblack[release_time]);	
	$lock_memo = "";
	$release_memo = "";
	if($affblack[lock_user] && $affblack[memo])  $lock_memo = "$ldate-【$affblack[lock_user]】：$affblack[memo]";
	if($affblack[release_user] && $affblack[release_desc])  $release_memo = "$rdate-【$affblack[release_user]】：$affblack[release_desc]";
print <<<EOT
-->      
            <tr height="20"onclick="SwitchTd(this,'click',$curpageidx);" onmouseout="SwitchTd(this,'out',$curpageidx);" onmouseover="SwitchTd(this,'over',$curpageidx);" style="cursor: hand">
                <td align="middle" valign="center" height="20" width="50px">$curidx</td>
                <td align="middle" valign="center" width="50px">
                <input id="ids" name="ids" type="checkbox" value="$affblack[id]" />
                </td>
                <td align="middle" valign="center">&nbsp;<a href='$basename?job=detail&action=affiliate&curid=$affblack[user_id]&backurl=$backurl' class=NoLine>$affblack[user_name]</a>
                </td>
                <td align="left" valign="middle">&nbsp;$lock_memo</td>      
                <td  align="left" valign="middle">&nbsp;$release_memo</td>                           
                <td align="middle" valign="center" width="55px">$db_status</td>            
            </tr>
<!--
EOT;
}print <<<EOT
-->
            
        </table>
    </div>
    <table id="Table1" border="0" cellpadding="0" cellspacing="0" width="98%">
        <tr>
            <td>&nbsp;</td>
            <td align="right" height="35">
<!--
EOT;
	showPageBreakInfo($showcount);
print <<<EOT
-->
             &nbsp;</td>
        </tr>
    </table>
    <input type="hidden" id="count" name="count" value="$showcount" />

</form>
<!--
EOT;
}
if($action=="release"){
print <<<EOT
-->
<form action="$admin_file" method="post" name="form" onsubmit="javascript:return checkfrm();">
<input type="hidden" name="action" value="releasesave"/>
<input type="hidden" name="ids" value="$ids"/>
<input type="hidden" name="status" value="$status"/>
<TABLE cellSpacing="0" cellPadding="0" width="100%" border=0 ID="Table22">
	<TBODY>	    
		<TR >
			<TD class="tittab" BACKGROUND="$imgpath/admin/menu_bg.gif">
			<strong><img src="$imgpath/admin/view.gif" width="15" height="13" align="absmiddle"> 释放站长</strong></TD>
		</TR>
	</TBODY>
</TABLE>
<table cellspacing=0 cellpadding=0 width="98%" border=0 id="Table23">  
    <tbody>
      <tr>
        <td valign=top>
		<div class="addpro">
		<table cellspacing=0 cellpadding=4 width="98%" border=0 align=center id="Table24">
            <tbody>
				<tr>
					<td align=right width="30%">释放理由：</td>
					<td><textarea name="release_desc" id="release_desc" style="width: 90%; height:75px">该站长承诺不在作弊，故可释放！</textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
					<input type="submit"  value=" 确定 " NAME="btnSubmit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<input type="button" onclick="window.close();" value=" 取消"/>
					</td>
				</tr>
         
    </tbody>
 </table>
 </div></TD>
  </TR>
 </TBODY>

 </TABLE>
 </form>
<script>
function checkfrm(){
	if(isEmpty($('release_desc').value)){
		alert("请输入释放理由!");
		$('release_desc').focus();
	}
}
</script>
<!--
EOT;
}?>-->
