<!--<?php
include_once PrintEot('header');
print <<<EOT
-->
<form action="$admin_file" method="post" name="form">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="left" class="tittab">
                <strong>回收站-广告主</strong>
            </td>
        </tr>
    </table>
    <table id="Table50" border="0" cellpadding="0" cellspacing="1" width="96%" align=center>
        <tr>
            <td colspan=2 height=30 class="zmenu"><b>数据分类：</b>
<!--
EOT;
 showPageLink("all", "1", "全部数据");
 showPageLink("itype", "0", "潜在客户");
 showPageLink("itype", "1", "正常客户");
 showPageLink("itype", "2", "失效客户");
 showPageLink("status", "0", "等待审核");
 showPageLink("status", "1", "已审核");
 showPageLink("status", "2", "审核未通过");
 showPageLink("status", "3", "黑名单"); 
print <<<EOT
-->
            </td></tr>
         <tr>
            <td><b>快速查询：</b><select id="searchtype">
                                <option value="login_name" selected>用户名</option>
								<option value="company">公司名称</option>
								<option value="short_name">客户简称</option>
								<option value="url">网站地址</option>
								<option value="seller_name">销售代表</option>						
							</select>
							<input type="text" name="searchkey" class="text" value="$searchkey"/>
							<input type="button" ID="btnQuery" class="text" value="查询"/>
						</td>
            <td align="right" valign="center">
                <table id="Table51" border="0" cellpadding="0" cellspacing="5" height="30">
                    <input id="Hidden1" name="allSelect" type="hidden" value="all" />
                    <tr>
                        <td align="middle" valign="center">
                            <a href="javascript:document.location.reload();">
	<img align="absMiddle" border="0" height="15" src="$imgpath/admin/reserch.gif" style="text-decoration: underline" width="17" /><span style="color: #547054"> 刷新</span></a>
<!--
EOT;
	if($candel==true){
		showButton(2,'彻底清除','javascript:ConfirmDel("'.$admin_file.'&action=destory'.$transtr.'&curpage='.$curpage.'","此操作不可恢复,确认删除吗？");');
	}
print <<<EOT
-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="2">
            </td>
        </tr>
    </table>
    <div class="tab">
        <table id="Table52" border="0" cellpadding="3" cellspacing="0" align=center>
            <tr>
                <td align="middle" class="title" height="20" valign="center">序号</td>
                <td align="middle" class="title" height="20" valign="center">
                    <input id="Checkbox1" name="as" onclick="allchecked()" type="checkbox" />全选
                </td>
                <td align="middle" class="title" height="20" valign="center">用户简称</td>
                <td align="middle" class="title" height="20" valign="center">用户种类</td>
                <td align="middle" class="title" height="20" valign="center">地区</td>
                <td align="middle" class="title" height="20" valign="center">所属行业</td>
                <td align="middle" class="title" height="20" valign="center">网址</td>                               
                <td align="middle" class="title" height="20" valign="center">销售</td>
                <td align="middle" class="title" height="20" valign="center">添加日期</td>
                <td align="middle" class="title" height="20" valign="center">状态</td>                  
                <td align="middle" class="title" height="20" valign="center">操作</td>
            </tr>
<!--
EOT;
$curidx = ($curpage-1)*$perpage;
$curpageidx = 0;
$showcount = count($db_merlist); 
foreach($db_merlist as $merchant ){
	$curidx = $curidx+1;
	$curpageidx = $curpageidx+1;
	$cdate = date('Y/m/d H:i:s',$merchant[create_time]);
	$status = $cfg_userstatus[$merchant[status]];
print <<<EOT
-->      
            <tr height="20"onclick="SwitchTd(this,'click',$curpageidx);" onmouseout="SwitchTd(this,'out',$curpageidx);" onmouseover="SwitchTd(this,'over',$curpageidx);" style="cursor: hand">
                <td align="middle" valign="center" height="20">$curidx </td>
                <td align="middle" valign="center">
                <input id="ids" name="ids" type="checkbox" value="$merchant[id]" />
                </td>
                <td align="middle" valign="center">&nbsp;<a href="$basename?job=detail&action=merchant&curid=$merchant[id]&backurl=$backurl$transtr" class="noline">$merchant[short_name]</a>             
                </td>
                <td align="middle" valign="center">&nbsp;
<!--
EOT;
	showClientType($merchant[client_type]);
print <<<EOT
-->                     
                </td>
                <td align="middle" valign="center">&nbsp;$merchant[province_name]-$merchant[city_name]</td>
                <td align="middle" valign="center">&nbsp;$merchant[trade]</td>
                <td align="middle" valign="center">&nbsp;
<!--
EOT;
	showUrl($merchant[url]);
print <<<EOT
-->                
                </td>             
                <td align="middle" valign="center">&nbsp;$merchant[seller_name]</td>
                <td align="middle" valign="center" width="145px">&nbsp;$cdate</td>
                <td align="middle" valign="center" width="55px">$status</td>                   
                <td align="middle" valign="center">&nbsp;
<!--
EOT;
	showEditButton($merchant[id]);
print <<<EOT
-->
                </td>
            </tr>
<!--
EOT;
}print <<<EOT
-->
            
        </table>
    </div>
    <table id="Table1" border="0" cellpadding="0" cellspacing="0" width="98%">
        <tr>
            <td>&nbsp;</td>
            <td align="right" height="35">
<!--
EOT;
	showPageBreakInfo($showcount);
print <<<EOT
-->
             &nbsp;</td>
        </tr>
    </table>
    <input type="hidden" id="count" name="count" value="$showcount" />

</form>

<!--
EOT;
?>-->