<!--<?php print <<<EOT
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<TITLE></TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<script>
function OpenHelp(){
	var h=(window.screen.height-450)/2;
	var w=(window.screen.width-650)/2;
	var openWindow=window.open("help/index.html","","width=650,height=450,resizable=yes,toolbar=no,status=no,location=no,scrollbars=yes,top="+h+"px,left="+w+"px");
	openWindow.focus();
	return;
}
</script>
<LINK REL="stylesheet" HREF="$csspath/style.css" TYPE="text/css">
<SCRIPT LANGUAGE="JavaScript" SRC="$jspath/treemenu.js"></SCRIPT>
</HEAD>
<BODY LEFTMARGIN="0" TOPMARGIN="0" RIGHTMARGIN="0" BOTTOMMARGIN="0" 
BGCOLOR="#ffffff">
<TABLE WIDTH="98%" BORDER="0" CELLPADDING="0" HEIGHT="100%" cellspacing="0">
<TR>
    <TD BGCOLOR="#ffffff" VALIGN="top" ALIGN="left" id=tdTest >
    <SCRIPT LANGUAGE='JavaScript'> 

	$strJS
    initializeDocument();
     </SCRIPT>
    </TD>
  </TR>
 </TABLE> 
</BODY>
</HTML>
<!--
EOT;
?>-->