<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/png_IE6.js" type="text/javascript"></script>
<title>站长-右侧</title>
<link href="css/data_right.css" rel="stylesheet" type="text/css" />
</head>

<body class="zz_right">
<div class="right_box">

<div class="right_tit">
<dl>
<dt></dt>
<dd>站长个人页面--数据报表</dd>
</dl>
</div>
<div class="data_right">
<dl>
<dd class="dd01">自定义时间段</dd>
<dd class="dd05"><input name="" type="text" /></dd>
<dd class="dd04">至</dd>
<dd class="dd05"><input name="" type="text" /></dd>
<dd class="dd00"></dd>


<dd class="dd01">选择时间段</dd>
<dd><strong>所有时间</strong></dd>
<dd><strong>前一天</strong></dd>
<dd><strong>前一周</strong></dd>
<dd><strong>本月内</strong></dd>
<dd><strong>本月内</strong></dd>
<dd class="dd00"></dd>


<dd class="dd01">选择单个广告</dd>
<dd><p>饮料类</p></dd>
<dd><p>饮料类</p></dd>
<dd><p>饮料类</p></dd>
<dd><p>饮料类</p></dd>
<dd class="dd00"></dd>


<dd class="dd03"><input name="" type="button" /></dd>
<dd class="dd00"></dd>


</dl>
</div>

<div class="search_list">
<dl>
<dd class="dd01"><strong>日期</strong></dd>
<dd class="dd02"><strong>记费类型</strong></dd>
<dd class="dd03"><strong>广告位名称</strong></dd>
<dd class="dd02"><strong>浏览量</strong></dd>
<dd class="dd01"><strong>结算数(次)</strong></dd>
<dd class="dd02"><strong>CTR(%)</strong></dd>
<dd class="dd01"><strong>收入</strong></dd>
<dd class="dd02"><strong>操作</strong></dd>


<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd03"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"><a target="right" href="#">查看详细</a></dd>




<dd class="dd01"><strong>总计</strong></dd>
<dd class="dd02"></dd>
<dd class="dd03"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"></dd>
<dd class="dd01"></dd>
<dd class="dd02"></dd>




</dl>
</div>


</div>
</body>
</html>
<!--
EOT;
?>-->