<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<script src="js/png_IE6.js" type="text/javascript"></script>
<title>站长-右侧</title>
<link href="style/my.css" rel="stylesheet" type="text/css" />

</head>

<body class="code">
<div class="right_box">
<!--right title-->
<div class="right_tit">
<dl>
<dt></dt>
<dd>站长个人页面--会员信息</dd>
</dl>
</div>
<div class="my_body">
<dl>
<dd class="dd01"><input name="" type="button" class="input01" value="已收信息" /></dd>
<dd class="dd01"><input name="" type="button" class="input01" value="已发信息" /></dd>
<dd class="dd01"><input name="" type="button" class="input01" value="发信息" /></dd>
<dd class="cleardd"></dd>

<dd class="dd02">信息标题</dd>
<dd class="dd03"><input name="" type="text" /></dd>
<dd class="dd00"></dd>

<dd class="dd02">信息内容</dd>
<dd class="dd06"><textarea name="" cols="" rows=""></textarea></dd>
<dd class="dd00"></dd>


<dd class="ddbtn"><input name="" type="button" value="立即发送" /></dd>
<dd class="dd00"></dd>


</dl>
</div>
</div>
</body>
</html>