<!--<?php
 print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/png_IE6.js" type="text/javascript"></script>
<script src="js/prototype.js" type="text/javascript"></script>
<script src="js/public.js" type="text/javascript"></script>
<script src="js/citycode.js" type="text/javascript"></script>
<title>站长-注册</title>
<link href="css/member.css" rel="stylesheet" type="text/css" />
<script>
function checkfrm(){
	if(isEmpty($("login_name").value)){ $("att_login_name").show();return false;}
	if($("login_name").value.match(/[^0-9a-zA-Z]/)){ $("att_login_name").show();return false; }
	if(isEmpty($("login_pass").value)){ $("att_login_pass").show();return false;}
	if(isEmpty($("login_repass").value)){ $("att_login_repass_empty").show();return false;}
	if($("login_repass").value!=$("login_pass").value){ $("att_login_repass_notequal").show();return false; }
	if(isEmpty($("linkman").value)){ $("att_linkman").show();return false;}	
	if(isEmpty($("cert_code").value)){ $("att_cert_code").show();return false;}	
	if(isEmpty($("email").value)){ $("att_email").show();return false;}	
	if($("question")!=null && isEmpty($("question").value)){ $("att_question").show();return false;}	
	if($("answer")!=null && isEmpty($("answer").value)){ $("att_answer").show();return false;}	
	return true;
}
</script>
</head>

<body class="code">
<div class="right_box">

<div class="right_tit">
<dl>
<dt></dt>
<dd>站长注册</dd>
</dl>
</div>
<div class="member_body">
<form name="form" id="form" action="$index_file" method="post" onsubmit="return checkfrm();">
<input type="hidden" name="job" id="job" value="regedit"/>
<input type="hidden" name="action" id="action" value="save"/>
<dl>
<dd class="cleardd"></dd>

<dd class="dd02">登录名称 <strong>*</strong></dd>
<dd class="dd03"><input name="login_name" id="login_name" type="text" onkeydown="$('att_login_name').hide();"/></dd>
<dd class="dd04" id="att_login_name" style="display:none">请输入6~18个字符，包括字母、数字</dd>
<dd class="dd00"></dd>

<dd class="dd02">密			码 <strong>*</strong></dd>
<dd class="dd03"><input name="login_pass"  id="login_pass"  type="password"  onkeydown="$('att_login_pass').hide();"/></dd>
<dd class="dd04" id="att_login_pass" style="display:none">请输入6～16个字符</dd>
<dd class="dd00"></dd>

<dd class="dd02">再次输入密码 <strong>*</strong></dd>
<dd class="dd03"><input name="login_repass" id="login_repass" type="password"  onkeydown="$('att_login_repass_empty').hide();$('att_login_repass_notequal').hide();"/></dd>
<dd class="dd04" id="att_login_repass_empty" style="display:none">请再次输入</dd>
<dd class="dd04" id="att_login_repass_notequal" style="display:none">与以上密码一致</dd>
<dd class="dd00"></dd>

<dd class="dd02">真实姓名 <strong>*</strong></dd>
<dd class="dd03"><input name="linkman" id="linkman" type="text"  onkeydown="$('att_linkman').hide();"/></dd>
<dd class="dd04" id="att_linkman" style="display:none">请输入您的真实姓名</dd>
<dd class="dd00"></dd>

<dd class="dd02">证件类型 <strong>*</strong></dd>
<dd class="dd13">&nbsp;&nbsp;<input type="radio" name="cert_type" id="cert_type" value="0" checked/>身份证
								<input type="radio" name="cert_type" id="cert_type" value="1"/>军官证
								<input type="radio" name="cert_type" id="cert_type" value="2"/>护照
</dd>
<dd class="dd00"></dd>

<dd class="dd02">证件号码 <strong>*</strong></dd>
<dd class="dd03"><input name="cert_code" type="text"  onkeydown="$('att_cert_code').hide();"/></dd>
<dd class="dd04" id="att_cert_code" style="display:none">输入您的证件号码</dd>
<dd class="dd00"></dd>

<dd class="dd02">EMAIL <strong>*</strong></dd>
<dd class="dd03"><input name="email" id="email" type="text" onkeydown="$('att_email').hide();"/></dd>
<dd class="dd04" id="att_email" style="display:none">请输入您的EMAIL</dd>
<dd class="dd00"></dd>

<dd class="dd02">所在省市 <strong>*</strong></dd>
<dd class="dd03">&nbsp;&nbsp;<span name="divprovince" id="divprovince"></span><span name="divcity" id="divcity"></span></dd>
<dd class="dd00"></dd>

<dd class="dd02">性别 </dd>
<dd class="dd13">&nbsp;&nbsp;<input type="radio" name="gender" id="gender" value="0" checked/>男
								<input type="radio" name="gender" id="gender" value="1"/>女
</dd>
<dd class="dd00"></dd>

<dd class="dd02">商业类型 </dd>
<dd class="dd13">&nbsp;&nbsp;<input type="radio" name="biz_type" id="cert_type" value="0" checked/>个人
								<input type="radio" name="biz_type" id="cert_type" value="1"/>公司
</dd>
<dd class="dd00"></dd>

<dd class="dd02">邮寄地址 </dd>
<dd class="dd03"><input name="address" id="address" type="text" /></dd>
<dd class="dd00"></dd>

<dd class="dd02">手机号码 </dd>
<dd class="dd03"><input name="mobile" id="mobile" type="text" /></dd>
<dd class="dd00"></dd>

<dd class="dd02">电话号码 </dd>
<dd class="dd03"><input name="telephone" id="telephone' type="text" /></dd>
<dd class="dd00"></dd>

<dd class="dd02">QQ</dd>
<dd class="dd03"><input name="qq" id="qq" type="text" /></dd>
<dd class="dd00"></dd>

<dd class="dd02">MSN</dd>
<dd class="dd03"><input name="msn" id="msn" type="text" /></dd>
<dd class="dd00"></dd>

<!--
EOT;
if($getpass=="1"){
	echo '<dd class="dd02">密码保护问题 <strong>*</strong></dd>';
	echo '<dd class="dd03">&nbsp;&nbsp;<select id="question" name="question" onchange="$(\'att_question\').hide();"><option value="">请选择密码提示问题</option>';
	foreach($arrquestion as $question){
		echo "<option value='".$question."'>".$question."</option>";
	}
	echo "</select></dd>";
	echo '<dd class="dd04" id="att_question" style="display:none">请选择密码提示问题</dd>';
	echo '<dd class="dd00"></dd>';
print <<<EOT
-->
	<dd class="dd02">密码保护问题答案 <strong>*</strong></dd>
	<dd class="dd03"><input type="text" id="answer" id="answer" onkeydown="$('att_answer').hide();"/></dd>
	<dd class="dd04" id="att_answer" style="display:none">请输入密码保护问题答案</dd>
	<dd class="dd00"></dd>
<!--
EOT;
}
print <<<EOT
-->

<dd class="ddbtn"><input name="btnsubmit" type="submit" value="注册 >> " /></dd>
<dd class="dd00"></dd>

</dl>
</form>
</div>
</div>
  <script>
  showProvince('1');
  </script>
</body>
</html>
<!--
EOT;
?>-->