<!--<?php
include_once PrintEot('header');
print <<<EOT
-->
<form action="$admin_file" method="post" name="form">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="left" class="tittab">
                <strong>回收站 &gt;&gt; 站点广告位信息</strong>
            </td>
        </tr>
    </table>
    <table id="Table50" border="0" cellpadding="0" cellspacing="1" width="96%" align=center>
         <tr>
            <td colspan=2 height=30 class="zmenu"><b>数据分类：</b>
<!--
EOT;
 showPageLink("all", "1", "全部数据");
 showPageLink("audit", "0", "等待审核");
 showPageLink("audit", "1", "已审核");
 showPageLink("audit", "2", "审核未通过");
 showPageLink("status", "0", "空闲");
 showPageLink("status", "1", "可定向");
 showPageLink("status", "2", "已设定");
print <<<EOT
-->            
            </td></tr>
         <tr>
            <td><b>快速查询：</b><select id="searchtype" name="searchtype">
<!--
EOT;
	if(empty($searchtype) || $searchtype=="name")  echo '<option value="name" selected>广告位名称</option>';
    else echo '<option value="name">广告位名称</option>';
	if(empty($searchtype) || $searchtype=="keyword")  echo '<option value="keyword">关键字</option>';
    else echo '<option value="keyword">关键字</option>';
	if(empty($searchtype) || $searchtype=="place_url")  echo '<option value="place_url">示例网址</option>';
    else echo '<option value="place_url">示例网址</option>'; 
	if(empty($searchtype) || $searchtype=="sitename")  echo '<option value="sitename">站点名称</option>';
    else echo '<option value="sitename">站点名称</option>';    
	if(empty($searchtype) || $searchtype=="siteurl")  echo '<option value="siteurl">网址地址</option>';
    else echo '<option value="siteurl">网址地址</option>';
	if(empty($searchtype) || $searchtype=="adsize")  echo '<option value="adsize">广告位尺寸</option>';
    else echo '<option value="siteurl">广告位尺寸</option>';     
print <<<EOT
-->				
							</select>
							<input type="text" name="searchkey" Width="60" style="font-size:12px;" class="text" value="$searchkey"/>
						开始时间：<input name="start_date" type="text"  class="text" readonly value="$start_date"/><A href="javascript:OpenCalendar('start_date', false)"><IMG src="$imgpath/admin/icon-calendar.gif" align="absMiddle" border="0"></A>
						结束时间：<input name="end_date" type="text" class="text" readonly value="$end_date"/><A href="javascript:OpenCalendar('end_date', false)"><IMG src="$imgpath/admin/icon-calendar.gif" align="absMiddle" border="0"></A>
						<input type="submit" value="查询" class="text"/>
						</td>
            <td align="right" valign="center">
                <table id="Table51" border="0" cellpadding="0" cellspacing="5" height="30">
                    <input id="Hidden1" name="allSelect" type="hidden" value="all" />
                    <tr>
                        <td align="middle" valign="center">
                            <a href="javascript:document.location.reload();">
                            <img align="absMiddle" border="0" height="15" src="$imgpath/admin/reserch.gif" style="text-decoration: underline" width="17" />
                            <span style="color: #547054"> 刷新</span></a>
<!--
EOT;
	if($canaudit==true){
		showButton(4,'审批','javascript:showAudit("'.$admin_file.'&action=audit&status=1'.$transtr.'&curpage='.$curpage.'");');
	}
	if($canadd==true){
		showButton(1,'新增',$admin_file.'&action=new'.$transtr);
	}
	if($candel==true){
		showButton(2,'删除','javascript:ConfirmDel("'.$admin_file.'&action=del'.$transtr.'&curpage='.$curpage.'","此操作不可恢复,确认删除吗？");');
	}
print <<<EOT
-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="2">
            </td>
        </tr>
    </table>
    <div class="tab">
        <table id="Table52" border="0" cellpadding="3" cellspacing="0" align=center>
            <tr>
                <td align="middle" class="title" height="20" valign="center">
                    序号</td>
                <td align="middle" class="title" height="20" valign="center"><input id="Checkbox1" name="as" onclick="allchecked()" type="checkbox" />全选</td>
                <td align="middle" class="title" height="30" valign="center">站长-站点-广告位</td>
                <td align="middle" class="title" height="30" valign="center"> 示例网址</td>
                <td align="middle" class="title" height="30" valign="center">广告位尺寸</td>              
                <td align="middle" class="title" height="30" valign="center">CPC计价</td>    
                <td align="middle" class="title" height="30" valign="center">每周计价</td>    
                 <td align="middle" class="title" height="30" valign="center">创建时间</td>                
               <td align="middle" class="title" height="30" valign="center">审核</td>                       
                <td align="middle" class="title" height="30" valign="center">状态</td>                
            </tr>
<!--
EOT;
$curidx = ($curpage-1)*$perpage;
$curpageidx = 0;
$showcount = count($db_affadplacelist); 
foreach($db_affadplacelist as $affadplace ){
	$curidx = $curidx+1;
	$curpageidx = $curpageidx+1;
	$cdate = date('Y/m/d H:i:s',$affadplace[create_time]);
	$db_placeaudit = $cfg_userstatus[$affadplace[audit]];
	$db_placestatus = $cfg_advplacestatus[$affadplace[status]];
print <<<EOT
-->    
            <tr height="30" onclick="SwitchTd(this,'click',$curpageidx);" onmouseout="SwitchTd(this,'out',$curpageidx);"
                onmouseover="SwitchTd(this,'over',$curpageidx);" style="cursor: hand">
                <td align="middle" valign="center">$curidx </td>
                <td align="middle" class="hei" valign="center"><input id="ids" name="ids" type="checkbox" value="$affadplace[id]" /></td>
                <td align="left" valign="center">&nbsp;<a href="$basename?job=detail&action=affiliate&curid=$affadplace[aff_id]$transtr&backurl=$backurl" class="NoLine">$affadplace[aff_name]($affadplace[aff_id])</a>-
                <a href="$basename?job=detail&action=affsite&curid=$affadplace[site_id]$transtr&backurl=$backurl" class="NoLine">$affadplace[site_name]($affadplace[site_id])</a> -$affadplace[name]               
				</td>
               <td valign="middle" align="center">&nbsp;<a href="$affadplace[demo_url]" title="$affadplace[demo_url]"><img src="$imgpath/admin/url.gif" border="0"/></a></td>                 
               <td valign="middle" align="center">&nbsp;$affadplace[adsize]</td>             
               <td valign="middle" align="center">&nbsp;$affadplace[week_price]</td>
               <td valign="middle" align="center">&nbsp;$affadplace[click_price]</td>
               <td valign="middle" align="center">&nbsp;$cdate </td>               
               <td valign="middle" align="center">&nbsp;$db_placeaudit</td>           
               <td valign="middle" align="center">&nbsp;$db_placestatus</td>                           
            </tr>
<!--
EOT;
}print <<<EOT
-->            
        </table>
    </div>
    <table id="Table1" border="0" cellpadding="0" cellspacing="0" width="98%">
        <tr>
            <td>
                &nbsp;</td>
            <td align="right" height="35">
<!--
EOT;
	showPageBreakInfo($showcount);
print <<<EOT
-->
             &nbsp;</td>
        </tr>
    </table>
    <input type="hidden" id="count" name="count" value="$showcount" />

</form>
<!--
EOT;
?>-->