<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
	<HEAD>
		<TITLE>欢迎使用{$cfg_name}</TITLE>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</HEAD>
	<frameset rows="50,*" cols="*" FRAMEBORDER="no" BORDER="0" FRAMESPACING="0">
		<frame name="topFrame" scrolling="no" noresize src="admincp.php?job=top">
		<frame id="main" name="main" src="admincp.php?job=main" scrolling="no" noresize>
	</frameset>
</HTML>
<!--
EOT;
?>-->