@charset "gb2312";
/* CSS Document */

*{margin:0; padding:0; border:0; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
html{overflow-x:hidden;}
.cleatdiv{clear:both; line-height:0; height:0; font-size:0;}
.code{background:#ececec;}
.right_box{width:100%; min-height:718px; min-height:697px\9; +min-height:764px; _min-height:700px; _height:740px; overflow:hidden; _overflow:visible; border-top:1px solid #c3c3c3; border-left:1px solid #c3c3c3; margin-top:12px; background-color:#fff;}
.right_tit{width:99.2%; height:29px; border:1px solid #c9c9c9; margin:6px 6px 1px 6px; background:url(../img/right_tit.gif) left top repeat-x;}
.right_tit dl{width:100%;}
.right_tit dl dt{width:28px; height:29px; background:url(../img/right_ico.gif) center no-repeat; float:left;}
.right_tit dl dd{width:200px; height:29px; font-size:12px; color:#000; font-weight:bold; line-height:29px; line-height:32px\9; +line-height:29px; _line-height:29px; text-align:left;}

.my_body{width:99.2%; min-height:30px; _height:30px; overflow:hidden; _overflow:visible; border:1px solid #e3e5e3; background:#fff; margin:0 6px 4px 6px; padding-top:12px;}
.my_body dl{width:100%; margin:10px 0 20px 24px;}
.my_body dl dd{float:left;}
.my_body dl .cleardd{width:100%; height:24px; clear:both; font-size:0; line-height:0; float:none;}
.my_body dl .dd00{width:100%; height:12px; clear:both; font-size:0; line-height:0; float:none;}
.my_body dl .dd01{width:133px; height:39px; float:left; margin-left:20px; +margin-left:10px; margin-top:4px; margin-right:10px;}
.my_body dl .dd01 .input01{width:133px; height:39px; background:url(../img/botton_113.png) center no-repeat; cursor:pointer; text-align:center; color:#fff; font-size:14px; font-weight:bold;}
.my_body dl .dd02{width:120px; height:27px; background:url(../img/member_01.gif) center no-repeat; text-align:center; line-height:27px; color:#36C; margin-left:32px;}
.my_body dl .dd02 strong{color:#f00; font-size:14px;}
.my_body dl .dd03{width:320px; height:27px; margin-left:6px;}
.my_body dl .dd03 input{width:320px; height:27px; background:url(../img/code_input01.gif) top left no-repeat; text-align:left; padding-left:6px; line-height:25px; color:#666;}
.my_body dl .dd04{width:200px; height:27px; text-align:left; color:#f00; line-height:27px; margin-left:14px;}
.my_body dl .dd06{width:320px; height:109px; margin-left:6px; margin-left:6px; margin-left:6px\9; +margin-left:12px; _margin-left:6px;}
.my_body dl .dd06 textarea{width:320px; height:109px; background:url(../img/code_input02.gif) left top no-repeat; color:#666; overflow-y:hidden; margin-left:0; +margin-left:-12px; _margin-left:0; line-height:20px; padding:4px;}

.my_body dl .ddbtn{width:400px; height:27px; margin-left:200px; margin-left:200px\9; +margin-left:139px; _margin-left:103px; float:left;}
.my_body dl .ddbtn input{width:91px; height:27px; background:url(../img/botton_098.gif) center no-repeat; text-align:center; line-height:27px; color:#fff; font-weight:bold; cursor:pointer; margin-left:12px;}














